<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.robdich.hideabletoolbarsample" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ToolbarListViewActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ToolbarRecyclerViewActivity"
            android:label="@string/activity_toolbar_recyclerview" >
        </activity>

        <activity
            android:name=".ToolbarScrollViewActivity"
            android:label="@string/activity_toolbar_scrollview" >
        </activity>
    </application>

</manifest>
